.App {
  text-align: center;
  /* background-image:url(./assets/plant4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #f6e2da;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

